.header {
    width: 100%;
    height: 400px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTlhtBRHVK1GzPNzpREbOKXC0ivY8nfK1XABCFjxoZChMjRCS5Y');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.header h1 {
    background-color: transparent;
    font-size: 4em;
    color: #F4E0C6;
    font-family: 'Satisfy';
}