.header {
    width: 100%;
    height: 600px;
    background-image: url('https://img.elo7.com.br/product/zoom/206737E/papel-de-parede-autocolante-graos-de-cafe-marrom-papel-de-parede-ursos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.header h1 {
    background-color: transparent;
    font-size: 7em;
    color: #EF8001;
    font-family: 'Satisfy';
}