.novidades {
    width: 100%;
    height: auto;
    background-color: rgb(255, 178, 115);
}

.novidades h1 {
    text-decoration: underline;
}

.novidades p {
    color: black;
    font-size: 1.5em;
    margin-left: 2.5%;
}