.produto {
    width: 20%;
    height:auto;
    background-size: cover;
}

.produto img {
    width: 100%;
}

.descricaoProduto {
    width: 20%;
    height: auto;
    background-color: #f7eee1;
    margin-right: 20px;
}

.descricaoProduto h3 {
    color: #af4f0e;
}
.descricaoProduto ul li {
    list-style-type: none;
    color: rgb(105, 27, 27);
    font-size: 1.1em;
}

.borda {
    border: 4px solid #f7eee1;
    border-radius: 10px;
}

hr {
    width: 90%;
    border-color: #af4f0e;
    border-width: 2px;
}

