.lista-ingrediente {
    list-style-type: none;
    margin-left: -30px;
    color: rgb(105, 27, 27);
}

.dados-receita {
    background-color: #f7eee1;
}

.dados-receita h4 {
    color: #af4f0e;
    font-size: 2em;
}

.card-title {
    color: #af4f0e;
}

.dados-receita li {
    font-size: 1.3em;
}
.lista-preparo {
    color: rgb(105, 27, 27);
}

.imagem-teste > img {
    width: 100%;
    height: 100%;
}

.card-body h4, ul, ol {
    margin-left: 5%;
}

.titulo-receita{
    font-size: 3em;
}