.lista-ingrediente {
    list-style-type: none;
    margin-left: -30px;
    color: rgb(105, 27, 27);
}

.dados-receita {
    background-color: #f7eee1;
}

.dados-receita h4 {
    color: #af4f0e;
}

.card-title {
    color: #af4f0e;
}

.lista-preparo {
    color: rgb(105, 27, 27);
}

.imagem-teste > img {
    width: 100%;
    height: 100%;
}
